body{
    background-color: #282533;
}

nav{
    background-color: #4f4e54;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 40px;
    border-bottom: 2px solid black;
    font-family:"Rubik Mono One";
}

h1{
    color: #36366B;
}

ul{
    display: flex;
    list-style-type: none;
    flex-wrap: wrap;
}

a{
    text-decoration: none;
    color: #d9d3f2;
    margin-left: 20px;
    padding: 10px 20px;
    transition: 0.2s;
}

a:hover{
    color: #6641fa;
}

a.active{
    color: #6641fa;
    font-weight: bold;
}
div.order{
    display: flex;
    flex-direction: column;
    align-items: center;
}
div.general{
    margin-top: 1%;
    margin-bottom: 1%;
    font-family:"Iceland";
    border: 2px dotted black;
    max-width:50%;
    background-color: #4f4e54;
}
div.image{
    text-align: center;
}

h2{
    color: #9494f7;
}

p{
    color: #d9d3f2;
}